-form_for @card,:url=>card_path do |f|
  .card
    .logo
      CapCard
    .badge
      =positive_button "Apply"
    .inside
      .number_section
        =f.label :email
        =f.text_field :email, :size=>25
      .expiry_section
        %label Member since
        %span.member_since=Time.now.year
        %label Valid through
        %span.expiry=1.year.from_now.to_date.to_s :cc_expiry
      .name
        =f.label :name
        =f.text_field :name,:size=>25
  
.or
  or

-form_for @card,:url=>login_url(:only_path=>true) do |f|
  .card
    .logo
      CapCard
    .badge
      =positive_button "Login"
    .inside
      .number_section
        =f.label :number
        =f.text_field :number, :size=>9, :maxlength=>9
        =f.label :pin
        =f.password_field :pin, :size=>4, :maxlength=>4

.description
  This is a proof of concept simulation of how a 3rd party card issuer could issue cards that would work with any 
  =link_to "OpenTransact","http://wiki.github.com/opentransact/opentransact/opentransact"
  based bank account. In this case it links to an account on
  =link_to OPEN_TRANSACT_NAME, OPEN_TRANSACT_URL
  an experimental OpenTransact based ecurrency.
