.card
  .logo
    CapCard
  .inside
    .number_section
      %label Number
      %span.number
        =current_card.number[0..3]
        =current_card.number[4..8]
    .expiry_section
      %label Member since
      %span.member_since=current_card.created_at.year
      %label Valid through
      %span.expiry=current_card.expiry.to_s :cc_expiry
    .name
      =current_card.name
    .association

-if current_card.token
  .transactions
    %p
      Your card is linked to
      = link_to OPEN_TRANSACT_NAME, OPEN_TRANSACT_URL
    %ul
      %li.more Latest transactions
      -current_card.transactions[0..4].each do |t|
        %li{:class=>cycle("even", "odd")}
          %td=transaction_link(t)
      -if current_card.transactions.size>5
        %li.more=link_to "#{current_card.transactions.size-5} more transactions",OPEN_TRANSACT_URL

  .withdrawal
    -form_tag withdrawals_path ,:method=>:post do
      %fieldset
        %legend Virtual ATM
        %label{:for=>"amount"} Amount
        %input{:type=>"text",:name=>"amount",:id=>"amount",:size=>6}
        %br
        =button "Withdraw"
    %p
      What happens here in the background is a transfer to the operators account. If this was an ATM the money would be paid out. Remember while this will transfer real
      =link_to OPEN_TRANSACT_NAME, OPEN_TRANSACT_URL
      funds out of your account.
-else
  .description
    %p
      Your card is currently not linked to an account. Click the button below to link it.
    =positive_button_link "Link to #{OPEN_TRANSACT_NAME}",oauth_url
  